* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', 'Roboto Slab', 'Montserrat', 'Inter Tight', 'Inter', 'Rubik', sans-serif;
}
  
:root {
    --colorPrincipal: #ad96eb;
    --colorSecundario: rgb(96, 110, 192);
    --colorHover: rgb(54, 50, 114);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(206, 206, 206);
    border-radius: 10px;
}